# Install all necessary Python Libraries

In [ ]:
!! pip install pandas numpy matplotlib seaborn

# Import Python Libraries

In [ ]:
import pandas as pd # For Data Manipulation
import numpy as np #  For Numerical Calculations
import matplotlib.pyplot as plt # For Data Visualizations
import seaborn as sns # For Data Visualizations

# To ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Reading Dataset

In [13]:
data = pd.read_csv(r"C:\Users\Admin\Desktop\Sampark_2024_Project\dataset\Extra_Time_Parked.csv")

# Analyzing the Data

In [14]:
data.head() # To display the top 5 observations of the dataset.

        Start Date         End Date Total Duration Charging Time
0  7-29-2011 20:17  7-29-2011 23:20       03:03:32      01:54:03
1   7-30-2011 0:00   7-30-2011 0:02       00:02:06      00:01:54
2   7-30-2011 8:16  7-30-2011 12:34       04:17:32      04:17:28
3  7-30-2011 14:51  7-30-2011 16:55       02:03:24      02:02:58
4  7-30-2011 18:51  7-30-2011 20:03       01:11:24      00:43:54

In [15]:
data.info() # Helps to understand the data type and information about data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259415 entries, 0 to 259414
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Start Date      259415 non-null  object
 1   End Date        259415 non-null  object
 2   Total Duration  259415 non-null  object
 3   Charging Time   259415 non-null  object
dtypes: object(4)
memory usage: 7.9+ MB

In [16]:
data.nunique() # Gives several unique values in each column and the data description

Start Date        244798
End Date          244159
Total Duration     31025
Charging Time      22473
dtype: int64

In [17]:
data.isnull().sum() # To identify null values in the data

Start Date        0
End Date          0
Total Duration    0
Charging Time     0
dtype: int64

In [18]:
(data.isnull().sum()/(len(data)))*100 # To calculate the percentage of missing values in each column

Start Date        0.0
End Date          0.0
Total Duration    0.0
Charging Time     0.0
dtype: float64

In [20]:
import pandas as pd
from datetime import timedelta

# Function to convert time in hh:mm:ss format to timedelta
def time_str_to_timedelta(time_str):
    h, m, s = map(int, time_str.split(':'))
    return timedelta(hours=h, minutes=m, seconds=s)

# Function to format timedelta in hh:mm:ss format
def format_timedelta(delta):
    hours, remainder = divmod(delta.seconds, 3600)
    minutes, seconds = divmod(remainder, 60)
    return "{:02}:{:02}:{:02}".format(hours, minutes, seconds)

# Load the CSV data into a pandas DataFrame
path = r"C:\Users\Admin\Desktop\Sampark_2024_Project\dataset\Extra_Time_Parked.csv"
df = pd.read_csv(path, parse_dates=["Start Date", "End Date"], infer_datetime_format=True)

# Calculate Extra Time and Expected End Time for each row
df["Charging Time"] = df["Charging Time"].apply(time_str_to_timedelta)
df["Total Duration"] = df["Total Duration"].apply(time_str_to_timedelta)

# Convert "Start Date" to datetime explicitly
df["Start Date"] = pd.to_datetime(df["Start Date"])

df["Extra Time"] = df["Total Duration"] - df["Charging Time"]
df["Expected End Time"] = df["Start Date"] + df["Charging Time"]

# Format results
df["Extra Time"] = df["Extra Time"].apply(format_timedelta)
df["Expected End Time"] = df["Expected End Time"].dt.strftime("%d/%m/%Y %H:%M %p")  # Updated line

# Display the updated DataFrame
print(df)

# Save the DataFrame to a new CSV file
new_csv_path = r"C:\Users\Admin\Desktop\Sampark_2024_Project\dataset\Updated_Extra_Time_Parked.csv"
df.to_csv(new_csv_path, index=False)

print(f"New CSV file created at: {new_csv_path}")

                Start Date          End Date  Total Duration   Charging Time  \
0      2011-07-29 20:17:00   7-29-2011 23:20 0 days 03:03:32 0 days 01:54:03
1      2011-07-30 00:00:00    7-30-2011 0:02 0 days 00:02:06 0 days 00:01:54
2      2011-07-30 08:16:00   7-30-2011 12:34 0 days 04:17:32 0 days 04:17:28
3      2011-07-30 14:51:00   7-30-2011 16:55 0 days 02:03:24 0 days 02:02:58
4      2011-07-30 18:51:00   7-30-2011 20:03 0 days 01:11:24 0 days 00:43:54
...                    ...               ...             ...             ...
259410 2020-12-31 16:39:00  12-31-2020 17:14 0 days 00:35:44 0 days 00:35:18
259411 2020-12-31 16:48:00  12-31-2020 20:31 0 days 03:43:01 0 days 02:14:04
259412 2020-12-31 17:28:00  01-01-2021 10:56 0 days 17:28:14 0 days 05:08:12
259413 2020-12-31 17:49:00  12-31-2020 21:55 0 days 04:05:34 0 days 03:53:42
259414 2020-12-31 18:19:00  12-31-2020 19:01 0 days 00:42:07 0 days 00:41:44

       Extra Time    Expected End Time
0        01:09:29  29/07/2011 22:11 PM
1        00:00:12  30/07/2011 00:01 AM
2        00:00:04  30/07/2011 12:33 PM
3        00:00:26  30/07/2011 16:53 PM
4        00:27:30  30/07/2011 19:34 PM
...           ...                  ...
259410   00:00:26  31/12/2020 17:14 PM
259411   01:28:57  31/12/2020 19:02 PM
259412   12:20:02  31/12/2020 22:36 PM
259413   00:11:52  31/12/2020 21:42 PM
259414   00:00:23  31/12/2020 19:00 PM

[259415 rows x 6 columns]
New CSV file created at: C:\Users\Admin\Desktop\Sampark_2024_Project\dataset\Updated_Extra_Time_Parked.csv